{% extends 'base.html' %}

{% block title %}
<title>แบบฟอร์ม</title>
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2>กรอกแบบฟอรมของคุณ</h2>
    <form method="post" action="{% url 'form' %}">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" class="form-control" name="Name" placeholder="Enter your name" required>
        </div>
        
        <div class="form-group">
            <label for="Age">Age:</label>
            <input type="number" class="form-control" name="Age" placeholder="Enter your age" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}
